body, html {
    height: 100%;
  }
 
  body, html{
    background-image: url("assets/bdika2.png");
  
    height: 100%;
    /* opacity: 60%; */
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
  }
  /*footer {
    background-image: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg");
  
    height: 100%;
    opacity: 35%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  /* } */

  @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }
.hide {
  display: none;
}


nav{
  opacity: 0.9;
  /* z-index: 2; */
  /* position: sticky; */
}

/* nav>a.active {
  font-weight: bold;
} */

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    /* text-align: center; */
    /* margin-bottom: 80px; */
    
    margin-top: 10%;
    margin-left: 45%;
    
    position: absolute;
    /* margin: auto; */
   
    
  }
 
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  h3{
    position: absolute;
    margin-top: 20%;
    margin-left: 42%;
    text-align: center;
    color: white;
  }
   h1{
    font-style: italic;
    /* color: gold; */
    /* color: white; */
    /* position:absolute; */
  }
  h4{
    color: white;
  }
  .my_search{
    /* width: 450px; */
    box-sizing: border-box;
    /* width:  100%; */
    /* text-align: center; */
    display: block;
    /* vertical-align: middle; */
    /* z-index: 4; */
    justify-content: center;
    /* float: center; */
    /* text-align: center; */
    /* margin-left: 35%; */
  }
 
  
 #my_data{
    /* opacity: 0.3; */
    /* position: relative; */
    /* box-sizing: border-box; */
    justify-content: space-around ;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    box-sizing: border-box;

    /* display: inline; */
    
  }
  .card{
    width: 23em;
    /* height: 180px; */
    margin: 7px;
    /* flex-wrap: nowrap; */
    background: rgba(255, 255, 255, 0.6)  ;  
    border: 1px lightskyblue solid;

  }
  @media only screen and (max-width: 380px) {
    .card{
      width: 280px;
     
  
    }
  }
  
  .form-control {
    height: 40px;
    width: 320px;
    margin:0 7px 0 0;
    
    /* z-index: 1; */
  }
  .btn-outline-success{
    margin: 0;
    height: 40px;
    /* z-index: 1; */
  }
  .card-title{
    /* font-weight: bold;
  color: #000000; */
    
  }
  
  .card-body{
    /* position: relative; */
    /* opacity: 1; */
  }



h5{
  display: inline;

}


/* The switch - the box around the slider */
.switch {
  position: relative;
  /* display: inline-block; */
  float: right;
  
  /* display: none; */
  width: 50px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(253, 253, 253);
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 3px;
  background-color: rgb(128, 198, 242);
  -webkit-transition: .1s;
  transition: .1s;
}

input:checked + .slider {
  background-color: #0087f6;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0487f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.more_info{
  /* display: inline; */
  /* flex: auto; */
  /* flex-direction: row; */
  display: flex;
  flex-wrap: wrap;
  /* box-sizing: border-box; */
  text-align: center;
}
#img_more_info{
  height: 50px;
  width: 50px;
}